.sublet-button {
  width: 96rpx;
  padding: 0 10rpx;
  height: 56rpx;
  background: $uni-color-primary;
  border-radius: 6rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 32rpx;
}
